@import '../../../../styles/variables.scss';

.this__day {
    padding: 20px;
    max-width: 400px;
    width: 100%;
    background: $lite-background; 
    box-shadow: $box-shadow;
    border-radius: $border-radius;
}